/* general */

body.tape6 {
  background: #ddd;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
.tape6 .page-wrap {
  width: 800px;
  margin: 0 auto;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  padding: 1em;
}
.tape6 .tile {
  padding: 1em 2em;
  background-image: linear-gradient(135deg, #eee, #ddd 80%, #ccc);
  border: 1px solid #888;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}
.tape6 .tile:last-child {
  margin-bottom: 0;
}

.tape6 .success {
  color: white;
  background-color: green;
  fill: green;
  filter: url(#drop-shadow);
}
.tape6 .success-dark {
  color: white;
  background-color: darkgreen;
  fill: darkgreen;
  /* filter: url(#drop-shadow); */
}
.tape6 .failure {
  color: white;
  background-color: red;
  fill: red;
  filter: url(#drop-shadow);
}
.tape6 .failure-dark {
  color: white;
  background-color: darkred;
  fill: darkred;
  /* filter: url(#drop-shadow); */
}
.tape6 .skipped {
  color: white;
  background-color: blue;
  fill: blue;
  filter: url(#drop-shadow);
}
.tape6 .todo {
  color: white;
  background-color: orange;
  fill: darkorange;
  filter: url(#drop-shadow);
}
.tape6 .nothing {
  color: white;
  background-color: darkgray;
  fill: darkgray;
  filter: url(#drop-shadow);
}

.tape6 .text-success {
  color: darkgreen;
}
.tape6 .text-success:before {
  content: '\2713';
}
.tape6 .text-failure {
  color: darkred;
}
.tape6 .text-failure:before {
  content: '\2717';
}
.tape6 .text-skipped {
  color: blue;
  font-weight: bold;
}
.tape6 .text-todo {
  color: orange;
  font-weight: bold;
}
.tape6 .text-comment {
  color: darkblue;
  font-style: italic;
}

/* score card */

.tape6 .score {
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-style: none;
}
.tape6 .score > * {
  margin-right: 0.1em;
}
.tape6 .score > *:last-child {
  margin-right: 0;
}
.tape6 .score .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24pt;
  width: 10em;
  padding: 0.5em 1em 0.5em 0em;
  border: 1px solid #888;
  border-radius: 0.25em;
  margin-right: -1.625em;
}
.tape6 .score .text .result {
  font-size: 75%;
}
.tape6 .score tape6-donut {
  z-index: 2;
}

/* donut */

.tape6 .score tape6-donut {
  margin-left: 0.25em;
}

/* legend */

.tape6 .legend {
  font-size: 12pt;
  font-weight: normal;
}

.tape6 .legend .swatch {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #888;
  position: relative;
  top: 0.125em;
}

.tape6 .legend .value {
  text-align: right;
}

/* spinner */

tape6-spinner {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 64px;
  height: 64px;
}

/* tools */

.tape6 .tools {
  color: #ddd;
  background-color: #403;
  background-image: none;
  border-bottom-style: none;
  padding-top: 0.6em;
}

/* report */

.tape6 .report {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.tape6 .report .test > *,
.tape6 .report .test .assert > * {
  margin-left: 1em;
}

.tape6 .report .test > .header,
.tape6 .report .test .assert > .header {
  margin-left: 0;
}

.tape6 .report.failed-only .comment,
.tape6 .report.failed-only .test.passed,
.tape6 .report.failed-only .test .assert.passed,
.tape6 .report.collapse-passed .test .assert.passed .data,
.tape6 .report.collapse-passed .test .assert.passed .stack,
.tape6 .report.hide-data .test .assert.failed .data,
.tape6 .report.hide-stack .test .assert.failed .stack {
  display: none;
}

.tape6 .report .test.passed > .header,
.tape6 .report .test .assert.passed > .header {
  color: darkgreen;
}
.tape6 .report .test.passed > .header:before,
.tape6 .report .test .assert.passed > .header:before {
  content: '\2713';
}
.tape6 .report .test.failed > .header,
.tape6 .report .test .assert.failed > .header {
  color: darkred;
}
.tape6 .report .test.failed > .header:before,
.tape6 .report .test .assert.failed > .header:before {
  content: '\2717';
}

.tape6 .report .test .assert .data > pre {
  margin-top: 0;
  margin-left: 1em;
}
