/* General */

body.tape6 {
  background: #ddd;
}

.tape6 .success {
  background-color: green;
  fill: green;
}
.tape6 .failure {
  background-color: red;
  fill: red;
}
.tape6 .skipped {
  background-color: blue;
  fill: blue;
}
.tape6 .todo {
  background-color: orange;
  fill: orange;
}

/* Score card */

.tape6 .score-card {
  display: flex;
  align-items: center;
}
.tape6 .score-card > * {
  margin-right: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
  font-weight: bold;
  line-height: 100%;
}
.tape6 .score-card > *:last-child {
  margin-right: 0;
}
.tape6 .score-card .colon {
  padding-bottom: 0.125em;
}

/* flipper */

.tape6 tape6-hflip.score {
  color: white;
}

.tape6 tape6-hflip.score .front,
.tape6 tape6-hflip.score .back,
.tape6 tape6-hflip.score .shim
{
  padding: 0.25em 0.25em;
  min-width: 2ex;
  text-align: center;
  border-radius: 0.25em;
  /* box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); */
}

.tape6 tape6-hflip.score .shim {
  visibility: hidden;
}

/* donut */

.tape6 .score-card tape6-donut {
  margin-left: 0.25em;
}

/* total */

.tape6 .total {
  font-size: 12pt;
  font-weight: normal;
}

.tape6 .total .swatch {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #888;
}

/* spinner */

tape6-spinner {
  width: 64px;
  height: 64px;
}

tape6-spinner.small {
  width: 16px;
  height: 16px;
}
